.c-footer

  .pv3.f6
    Code licensed under
    %a.c-footer--link{:href => "LICENSE"} MIT
    %a.c-footer--link{:href => "https://github.com/"} Github
    %a.c-footer--link{:href => "https://github.com/issues"} Issues
    %a.c-footer--link{:href => "https://www.algolia.com/policies/privacy"} Privacy policy

  .c-footer--brand
    .c-footer--brand-intro This project is part of
    %img.c-footer--brand-icon{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/logo-community.svg"}/
    %figure
      %img.c-footer--brand-logo{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1463417234/algolia-community_n6tixd.svg"}/
      %figcaption.invisible Algolia Community

    %a.c-footer--button{:href => "https://community.algolia.com/"} See More
    -# %span.ac-icon.ac-icon-love-dark

  .c-footer--version Latest version: &lt;numVersion&gt;

  .c-footer--actions
    .pt3.pb2.ttu.f6.white-50 Build unique search experiences with Algolia
    %a.c-footer--actions-button.hover-bg-white-50.hover-b--white-10{:href => "https://www.algolia.com/why?utm_medium=social-owned&utm_source=#{config[:product_shortname]}%20website&utm_campaign=homepage&utm_term=why"}
      See Why
      %span.ac-icon-triangle
    %a.c-footer--actions-button.pink.b--pink.hover-bg-pink.hover-b--pink{:href => "https://www.algolia.com/users/sign_up?utm_medium=social-owned&utm_source=#{config[:product_shortname]}%20website&utm_campaign=homepage&utm_term=get_started"} Get Started For Free
