---
title: Algolia for Jekyll
---

<div class="t-home">
  <div class="c-jumbotron">
    <h1 class="c-jumbotron--title">
      <span class="u-image-replacement t-image-replacement__algolia">Algolia</span>
      for
      <span class="u-image-replacement t-image-replacement__jekyll">Jekyll</span>
    </h1>

    <p class="c-jumbotron--tagline">
      Indexing all your Jekyll content is as simple as <code>jekyll algolia push</code>
    </p>

    <div class="c-jumbotron--ctas">
      <a href="#" class="o-button c-jumbotron--cta__tryit">Try it live</a>
      <a href="#" class="o-butotn c-jumbotron--cta__getstarted">Get started</a>
    </div>

    <img src="#" class="c-jumbotron--screencast" />
  </div>

  <div class="c-section">
    <h3>Index all the things!</h3>
    <p>
      It does not matter if you use Jekyll for blogging or for documentation, the plugin is able to index your content all the same.
    </p>
  </div>

  <div class="c-section">
    <h3>Features</h3>
    <ul class="c-features">
      <li class="c-features--item">
        <div class="c-features--image">
          <img src="#" />
        </div>
        <div class="c-features--title">Open-Source</div>
        <div class="c-features--description">XXX</div>
      </li>
      <li class="c-features--item">
        <div class="c-features--image">
          <img src="#" />
        </div>
        <div class="c-features--title">Fast and relevant</div>
        <div class="c-features--description">XXX</div>
      </li>
      <li class="c-features--item">
        <div class="c-features--image">
          <img src="#" />
        </div>
        <div class="c-features--title">Easy to implement</div>
        <div class="c-features--description">XXX</div>
      </li>
      <li class="c-features--item">
        <div class="c-features--image">
          <img src="#" />
        </div>
        <div class="c-features--title">Autocomplete menu</div>
        <div class="c-features--description">XXX</div>
      </li>
      <li class="c-features--item">
        <div class="c-features--image">
          <img src="#" />
        </div>
        <div class="c-features--title">Aware of the hierarchy</div>
        <div class="c-features--description">XXX</div>
      </li>
      <li class="c-features--item">
        <div class="c-features--image">
          <img src="#" />
        </div>
        <div class="c-features--title">Works well with GitHub and Travis</div>
        <div class="c-features--description">XXX</div>
      </li>
      <li class="c-features--item">
        <div class="c-features--image">
          <img src="#" />
        </div>
        <div class="c-features--title">Customizable</div>
        <div class="c-features--description">XXX</div>
      </li>
      <li class="c-features--item">
        <div class="c-features--image">
          <img src="#" />
        </div>
        <div class="c-features--title">Compatible with other plugins</div>
        <div class="c-features--description">XXX</div>
      </li>
    </ul>
  </div>

  <div class="c-section">
    <ul class="c-showcase">
      <li class="c-showcase--item">
        <a href="#" class="c-showcase--link">
          <img src="#" class="c-showcase--logo" />
          <img src="#" class="c-showcase--screencast" />
        </a>
      </li>
      <li class="c-showcase--item">
        <a href="#" class="c-showcase--link">
          <img src="#" class="c-showcase--logo" />
          <img src="#" class="c-showcase--screencast" />
        </a>
      </li>
      <li class="c-showcase--item">
        <a href="#" class="c-showcase--link">
          <img src="#" class="c-showcase--logo" />
          <img src="#" class="c-showcase--screencast" />
        </a>
      </li>
      <li class="c-showcase--item c-showcase--item__you">
        <a href="#" class="c-showcase--link">
          <img src="#" class="c-showcase--logo" />
          <img src="#" class="c-showcase--screencast" />
        </a>
      </li>
    </ul>
  </div>
</div>
