- content_for(:title, 'Algolia for Jekyll')

-# Jumbotron
%div.c-jumbotron.white.ph3.pt3.tc
  %h1.normal
    %img.mr3{alt: 'Algolia', src: "./images/algolia-logo-white.svg", width: 190}
    for
    %img{alt: 'Jekyll', src: './images/jekyll.png', width: 210}

  %p.f3.w-50.center
    Indexing all your Jekyll content with a simple command

  %div.f6.mt2
    %a.c-jumbotron--cta.b--white.mr4{href: '#'}
      Try it live
    %a.c-jumbotron--cta.bg-gray{href: '#'}
      Get started

  %img.c-jumbotron--screencast{alt: 'Animated demo', src: "./images/screencast.gif", width: 700}

%div.pv5.bg-washed-yellow
  %h3.o-title--centered
    Index all the things!

  %p.w-80.center.tc
    It does not matter if you use Jekyll for blogging or for documentation, the plugin is able to index your content all the same.

%div.c-features.pv3
  %h3.o-title--centered
    Features
  %ul.list
    -# Looping through each feature
    - data.features.each do |item|
      %li.mb3
        %div.dn
          %img{src: "/images/#{item[:image]}", alt: item[:name]}
        %div.f3.orange.mb2
          =item[:name]
        %div
          =item[:description]

%div.pv3
  %h3.o-title--centered
    They're using Algolia
  %ul.list.flex.flex-row.flex-wrap
    -# Looping through each showcase
    - data.showcases.each do |item|
      %li.flex-auto.tc.w-50.w-33-ns.ph3
        %a.db.link{href: item[:url]}
          %div.h3.mb2
            %img.db.center.w3{src: item[:logo]}
          %div.c-showcase--screencast-container.center
            %img.c-showcase--stillframe{src: item[:stillframe]}
            %img.c-showcase--screencast{src: item[:screencast]}
          %div.mt2.b.black-80=item[:name]

%div.pv3.bg-black-10
  %h3.o-title--centered
    Easy to install
  %div.flex.mh5.mb5
    %div.flex-auto.w-33.ph3
      %div.f2.fl.mr2.orange 1
      %div.mt2.lh-title
        Lorem ipsum dolor sit amet, consectetur adipiscing elit 
    %div.flex-auto.w-33.ph3
      %div.f2.fl.mr2.orange 2
      %div.mt2.lh-title
        Lorem ipsum dolor sit amet, consectetur adipiscing elit 
    %div.flex-auto.w-33.ph3
      %div.f2.fl.mr2.orange 3
      %div.mt2.lh-title
        Lorem ipsum dolor sit amet, consectetur adipiscing elit 
