- content_for(:title, 'Algolia for Jekyll')

-# Jumbotron
%div.c-jumbotron.white.ph3.pt3.tc
  %h1.normal
    %img.mr3{alt: 'Algolia', src: "./images/algolia-logo-white.svg", width: 190}
    for
    %img{alt: 'Jekyll', src: './images/jekyll.png', width: 210}

  %p.f3.w-50.center
    Indexing all your Jekyll content with a simple command

  %div.f6.mt2
    %a.link.white.dib.ba.br2.ph3.pv2.ttu.tracked.underline-hover.b--white.mr4{href: '#'}
      Try it live
    %a.link.white.dib.ba.br2.ph3.pv2.ttu.underline-hover.tracked.bg-gray{href: '#'}
      Get started

  %img.c-jumbotron--screencast.mt2.br2.shadow-4{alt: 'Animated demo', src: "./images/screencast.gif", width: 700}

%div.pv5
  %h3.o-title--centered.tc.f2.black-70.u-underline--small
    Index all the things!

  %p.w-80.center.tc
    It does not matter if you use Jekyll for blogging or for documentation, the plugin is able to index your content all the same.

%div
  %h3
    Features
  %ul
    -# Looping through each feature
    - data.features.each do |item|
      %li
        %div
          %img{src: item[:image], alt: item[:name]}
        %div
          =item[:name]
        %div
          =item[:description]

%div
  %h3
    They're using Algolia
  %ul
    -# Looping through each showcase
    - data.showcases.each do |item|
      %li
        %a
          =item[:name]
          %img{src: item[:logo]}
          %img{src: item[:sreencast]}
    %li
      You?
