.c-footer--link {
  @extend .link;
  @extend .pink;
  @extend .ml3;
  & + .c-footer--link:before {
    content: '•';
    @extend .white-70;
    @extend .mr3;
  }
}

.c-footer {
  @extend .relative;
  @extend .white-70;
  @extend .tc;
  min-height: 870px;
  background-color: #1d3657;
  background-image: url("../images/background_footer.svg");
  background-repeat: no-repeat;
  background-position:  center center;
  background-size: 1420px;
}

.c-footer--brand {
  max-width: 740px;
  max-height: 400px;
  width: 70vw;
  height: 100%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.c-footer--brand-intro {
  @extend .ttu;
  @extend .b;
  @extend .f7;
  color: #496f92;
}

.c-footer--brand-icon {
  @extend .mt3;
  width: 110px;
}
 
.c-footer--button {
    @extend .bg-dark-blue;
    @extend .white;
    @extend .pv3;
    @extend .link;
    @extend .db;
    @extend .center;
    @extend .br2;
    @extend .ttu;
    @extend .b;
    @extend .f7;
    @extend .mw4;
    @extend .hover-bg-pink;
    border: 1px solid #232e3a;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: background 0.1s ease;
}

.c-footer--version {
  @extend .absolute;
  @extend .w-100;
  top: 680px;
}

.c-footer--actions {
  @extend .bg-dark-blue;
  @extend .absolute;
  @extend .bottom-0;
  @extend .w-100;
}
.c-footer--actions-button {
  @extend .white-50;
  @extend .ba;
  @extend .hover-white;
  @extend .db;
  @extend .link;
  @extend .mh3;
  @extend .mv2;
  @extend .pv3;
  @extend .br1;
  @extend .ttu;
  @extend .f7;
  @extend .b;
}

//   p {
//     @extend .white-50;
//     @extend .db;
//     display: inline;
//     // line-height: $navigation-height;
//     padding: 0;
//     margin:0;
//     font-size: 14px;
//     text-transform: uppercase;
//   }
// 
//   a {
//     display: inline-block;
//     margin-left: 0;
// 
//     &:nth-child(2) {
//       margin-left: 32px;
//       // margin-right: $margin;
//     }
//   }
// }




  [class*="c-footer-btn-ghost"] {
    background: transparent;
    border-color: currentColor;
    font-weight: bold;
    max-width: inherit;
    padding: 0 32px;
  }


  .c-footer-btn-ghost-grey {
    @extend .white-50;

    &:hover {
      @extend .bg-white-50;
      @extend .b--white-50;
      color: #fff;

      .ico-triangle {
        border-left-color: #fff
      }
    }
  }


  .c-footer-btn-ghost-pink {
    color:  $pink;

    &:hover {
      background: $pink;
      border-color: $pink;
      color: #fff;
    }
  }


  .ac-icon {
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 30px;
    margin: auto;
  }
  // .ac-icon-love-dark {
  //   background: url('../images/icon-heart-dark.svg')no-repeat center center / contain
  // }


/*! On small devices */
// @media (--breakpoint-medium) {
//   .c-footer {
//     background-size: cover;
//     background-position: 50% 70px;
// 
//     .c-footer-links {
//       text-align: center;
// 
//       .c-footer-links:nth-child(2) {
//         // margin-bottom: $margin;
//         display: block;
//       }
// 
//       .c-footer-link-item:nth-child(3):before {
//         display: none;
//       }
//     }
// 
//     hr {
//       display: none;
//     }
// 
//     .c-footer-actions {
//       // width: calc(#{$margin} + 100%);
//       // left: -$margin;
//       // padding-bottom: $margin;
//       text-align: center;
// 
//       p {
//         font-size: 12px;
//         float: left;
//         width: 100%;
//         text-align: center;
//       }
// 
//       .c-footer-btn,
//       a:nth-child(2) {
//         width: calc(100% - 32px);
//         max-width: calc(100% - 32px);
//         margin: 0 auto;
//         margin-bottom: 8px;
//         float: none;
//         position: relative;
//         left: 8px;
//       }
//     }
//   }
// }

// Footer heartbeat
@keyframes pulse{
  0% {
    box-shadow: 0 0 0 0 rgba($pink, 0.4);
  }
  70% {

    box-shadow: 0 0 0 30px rgba($pink, 0);
  }
  100% {

    box-shadow: 0 0 0 0 rgba($pink, 0);
  }
}

@keyframes pulseHeart{
  0% {
    transform: scale(1.3)
  }
  70% {

    transform: scale(1.15)
  }
  100% {

    transform: scale(1)
  }
}

// .ac-icon-love-dark {
//   display: block;
//   position: relative;
// 
//   &:before {
//     content: '';
//     display: block;
//     width: 8px;
//     height: 8px;
//     position: absolute;
//     top: 45%;
//     bottom: 0;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     right: 0;
//     z-index: -1;
//     border-radius: 100%;
//   }
// }

// .c-footer-container:hover .ac-icon-love-dark{
//   animation: pulseHeart 1s ease infinite;
// 
//   &:before {
//     animation: pulse 1s ease infinite !important;
//   }
// }
// &:hover {
//   .ac-icon-love-dark {
//     background: url('../images/icon-heart-light.svg')no-repeat center center / contain
//   }
// }


.ac-icon-triangle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--white-50);
  position: relative;
  display: inline-block;
  margin-left: 8px;
}
